html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    padding: 0 3%;
}

.nav-item {
    font-size: 0.8rem;
}

.navbar .navbar-nav .nav-link {
    color: black;
}

h1 {
    font-size: 40px;
}

.profile-img {
    max-width: 70%;
}

.fa-square-linkedin, .fa-github {
    color: black;
}

.card-text {
    font-size: small;
}

.tools-img {
    max-width: 60%;
    width: 100%;
}

footer p {
    margin: 0;
    padding: 1.3rem;
    width: 100%;
    background: rgb(6, 3, 36);
    color: white;
}